;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[rum "0.11.3"]]
 :dev-http     {8080 "target/"}
 :builds       {:app {:output-dir "target/"
                      :asset-path "."
                      :target     :browser
                      :modules    {:main {:init-fn org.winton.realrisk.app/init}}
                      ;:devtools {:after-load app.main/reload!}
                      }}}


#_{:source-paths
         ["src"]

   :deps true

   :dependencies
         [[rum "0.11.3"]]

   :builds
         {:app {:target     :browser
                :main       org.winton.realrisk.app/init
                :output-dir "resources/public/shadowjs"
                :asset-path "shadowjs"}}}
